# Assignment: Data Wrangling

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

In [1]:
"""
1. The paper is about creating tidy dataidk
2. It's intended to accomplish idk
3. When cleaning data, ther is a uniform standard to clean towards in order to be able to use the data. However, data at its original form are inconsistent with each other and have different unique parts to clean in order to become uniform.
   It's hard to define what variables and observations are.
4. Wichkam defines values, variables, and observations as
5. Tidy data is idk
6. The datain the table is messy because, it's a meltiing dataset
7. Table 11 is messy but table 12 is molten because
8. The chicken and egg problem is
"""

"\n1. The paper is about creating tidy dataidk\n2. It's intended to accomplish idk\n3. When cleaning data, ther is a uniform standard to clean towards in order to be able to use the data. However, data at its original form are inconsistent with each other and have different unique parts to clean in order to become uniform.\n   It's hard to define what variables and observations are.\n4. Wichkam defines values, variables, and observations as\n5. Tidy data is idk\n6. The datain the table is messy because, it's a meltiing dataset\n7. Table 11 is messy but table 12 is molten because\n8. The chicken and egg problem is\n"

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [1]:
import numpy as np
import pandas as pd

In [26]:
adf = pd.read_csv('./data/airbnb_hw.csv',low_memory=False)
sdf = pd.read_csv('./data/sharks.csv', low_memory=False)
pdf = pd.read_csv( 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv' ,low_memory=False)

In [3]:
adf.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [13]:
"""
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. 
How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
"""
# Check the variable
var = "Price"
print(sdf[var])
print(sdf[var].unique(), '\n')

# First, remove commas in order to turn the values into numbers.
adf[var]= adf[var].str.replace(",", "")

# After cleaning the commas, it's posible to turn price from string to numeric.
adf[var] = pd.to_numeric(adf[var], errors='coerce')

print(adf[var])
print('Total Missings: \n', sum(adf[var].isnull()),'\n')

0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: Price, Length: 30478, dtype: int64
Total Missings:
 0

In [10]:

"""
2. Categorical variable: 
For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
"""
# Check the variable
var = "Type"
print(sdf[var].unique(), '\n')

# There are lots of different variations of 'Boat' (ex. Boating, Boat, Boatomg, possibly Watercraft) which can be consolidated the types together.
sdf.replace(to_replace=["Boating", "Boatomg", "Watercraft"], value="Boat")

# There are also lots of different variations of unknown type of shark attack which can be replaced as nan.
sdf.replace(to_replace=["Unverified", "Under Investigation", "Unconfirmed", "Questionable", "Invalid"], value=np.nan)

print(sdf[var].unique(), '\n')

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']

In [14]:

"""
3. Dummy variable: 
For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, 
and, in particular, replace missing values with `np.nan`.
"""
# Check the variable
var = "WhetherDefendantWasReleasedPretrial"
print(pdf[var])
print(pdf[var].unique(), '\n')

# Replace the 9s as not a number as it's Unclear.
pdf[var] = pdf[var].replace( [9], np.nan)

# Change to boolean, 1 represents Released while 0 represents Unreleased
pdf[var] = pdf[var].astype('bool')
# pdf[var] = np.where(pdf[var] == 1, True, False)

print(pdf[var].unique(), '\n')
print(pdf[var].value_counts())

0        9
1        0
2        0
3        0
4        1
        ..
22981    1
22982    1
22983    1
22984    1
22985    1
Name: WhetherDefendantWasReleasedPretrial, Length: 22986, dtype: int64
[9 0 1]

[ True False]

WhetherDefendantWasReleasedPretrial
True     19185
False     3801
Name: count, dtype: int64

In [27]:

"""
4. Missing values, not at random: 
For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. 
(Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)
"""
# Check the variables
var = "ImposedSentenceAllChargeInContactEvent"
type = "SentenceTypeAllChargesAtConvictionInContactEvent"
print(pdf[var].unique(), '\n')
print(pdf[type].unique(), '\n')

pd.crosstab(pdf[var], pdf[type])

# Turn sentence length from object to numeric and check the amount of missing values
pdf[var] = pd.to_numeric(pdf[var], errors='coerce')
print('Total Missings: \n', np.sum(pdf[var].isnull()),'\n')

# In the codebook, sentence type 4 represents dismissed charges so change the sentence length to 0
pdf.loc[pdf[type] == 4, var] = 0

# In the codebook, sentence type 9 represents N/A charges so change to N/A
pdf.loc[pdf[type] == 9, var] = np.nan

pd.crosstab(pdf[var], pdf[type])

[' ' '60' '12' '.985626283367556' '36' '6' '24' '5.91375770020534' '120'
 '72' '11.9917864476386' '0' '2.95687885010267' '84' '108' '300' '240'
 '180' '4' '96' '2' '54' '.328542094455852' '44' '5' '115' '132' '48'
 '258' '34' '76' '.164271047227926' '.131416837782341' '111' '9' '3'
 '1.97125256673511' '36.9856262833676' '.0657084188911704'
 '35.4928131416838' '106.492813141684' '8' '35' '18.3141683778234' '480'
 '32' '93' '234' '732' '1.16427104722793' '4.6570841889117' '21' '7'
 '4.49281314168378' '18' '600' '43.1642710472279' '179' '52' '30' '20'
 '192' '702' '14' '55' '53' '11.9055441478439' '114' '35.0061601642711'
 '68' '.657084188911704' '46.6242299794661' '102' '65' '200' '57'
 '24.3285420944559' '12.1642710472279' '117' '81.4928131416838'
 '22.4928131416838' '1980' '3.6570841889117' '56' '10' '2.79260780287474'
 '1' '47' '22' '1500' '40' '284' '11' '118' '42' '162' '156'
 '47.2956878850103' '105' '51' '246' '29' '75' '324' '360'
 '34.4804928131417' '120.328542094456' '59.9260780287474' '66'
 '59.9917864476386' '660' '51.1642710472279' '14.9568788501027'
 '3.98562628336756' '78' '228' '1.47843942505133' '62' '4.8' '86' '168'
 '23' '33' '48.0328542094456' '720' '348' '1200' '27' '49' '87' '420' '63'
 '79.9260780287474' '57.0349075975359' '49.9712525667351'
 '59.4928131416838' '17' '238.492813141684' '60.9856262833676' '126' '45'
 '158' '216' '227' '42.9568788501027' '445' '70.952772073922' '516'
 '177.82135523614' '1752' '90' '1080' '141' '4.82956878850103' '230' '31'
 '2208' '52.5133470225873' '69' '26' '33.4928131416838' '140' '131' '344'
 '219' '101' '71' '59' '58' '120.197125256674' '67' '35.4004106776181'
 '3.28542094455852' '40.1642710472279' '91' '1.7741273100616' '155'
 '34.4928131416838' '81' '92.3285420944559' '3.5482546201232' '207' '74'
 '518' '28' '8.95687885010267' '237' '404.673511293634' '18.1642710472279'
 '10.7433264887064' '551' '39' '15' '124' '43' '176' '19.4928131416838'
 '482' '129' '88' '46' '45.8542094455852' '128.628336755647'
 '136.492813141684' '108.328542094456' '50' '363.663244353183' '288' '250'
 '107' '81.0225872689938' '444' '205' '10.6570841889117' '19'
 '66.9856262833676' '38.4928131416838' '264' '276' '173' '222' '144' '294'
 '336' '431' '450' '73' '99.3285420944559' '128' '30.8069815195072'
 '31.5256673511294' '127' '202' '55.3285420944559' '89' '242'
 '1.31416837782341' '1029' '.788501026694045' '194.858316221766' '399'
 '39.6570841889117' '56.95687885' '198' '120.985626283368'
 '47.6570841889117' '148' '6.8993839835729' '65.3285420944559'
 '5.95277207392197' '.0985626283367557' '3.32854209445585'
 '3.94250513347023' '12.9856262833676' '6.98562628336756'
 '13.1498973305955' '15.1642710472279' '17.1971252566735'
 '17.9137577002053' '104' '212' '24.6570841889117' '72.6570841889117'
 '2.98562628336756' '144.985626283368' '31.9712525667351' '183'
 '4.98562628336756' '11.8213552361396' '252' '12.394250513347'
 '42.4928131416838' '10.1642710472279' '11.1642710472279'
 '5.49281314168378' '59.6632443531827' '12.3285420944559'
 '48.9856262833676' '240.985626283368' '2.6570841889117' '540'
 '2.97125256673511' '6.32854209445585' '23.6632443531828'
 '133.657084188912' '35.3285420944559' '456' '103' '1.72279260780287'
 '12.6570841889117' '11.6570841889117' '60.3285420944559'
 '3.78850102669405' '576' '2.13141683778234' '492' '14.9856262833676'
 '24.9856262833676' '61.9712525667351' '5.6570841889117' '16'
 '42.1642710472279' '.492813141683778' '138' '13.3141683778234'
 '11.8932238193018' '5.32854209445585' '95' '62.6570841889117'
 '3.08829568788501' '11.8275154004107' '1.64271047227926'
 '47.9917864476386' '4.27104722792608' '8.32854209445585'
 '3.31416837782341' '70' '77' '1.09856262833676' '48.1642710472279'
 '27.4928131416838' '6.93839835728953' '1011' '.68993839835729'
 '1.1170431211499' '1.49281314168378' '4.16427104722793'
 '1.19712525667351' '4.07392197125257' '188' '11.3285420944559'
 '.0328542094455852' '432' '11.952772073922' '36.4928131416838'
 '23.9835728952772' '9.98562628336756' '98' '36.3285420944559' '112'
 '.394250513347023' '13' '.262833675564682' '13.7987679671458'
 '5.8870636550308' '354' '5.91991786447639' '24.1642710472279'
 '62.95687885' '4.59958932238193' '123' '2.32854209445585'
 '23.9240246406571' '204' '197' '174' '16.1498973305955' '840' '440'
 '98.95687885' '17.952772073922' '63.9425051334702' '60.1314168377823'
 '12.1314168377823' '172.952772073922' '.197125256673511'
 '138.164271047228' '4.92813141683778' '.919917864476386'
 '18.9856262833676' '6.6570841889117' '2.85420944558522'
 '8.91375770020534' '146' '12.4928131416838' '.558521560574949'
 '.722792607802875' '5.82135523613963' '84.9856262833676'
 '6.16427104722793' '15.9856262833676' '64.5585215605749'
 '38.299794661191' '11.958932238193' '3.1211498973306' '126.328542094456'
 '5.16427104722793' '64' '42.6570841889117' '312' '19.9712525667351'
 '82.3285420944559' '23.9712525667351' '17.6242299794661'
 '121.971252566735' '59.6550308008214' '1.32854209445585'
 '7.97125256673511' '1.91991786447639' '.525667351129363'
 '9.32854209445585' '42.9856262833676' '41.9137577002053'
 '72.9856262833676' '12.4784394250513' '5.19096509240246' '473'
 '16.6570841889117' '109' '86.3285420944559' '41' '1.90554414784394'
 '94.1642710472279' '302' '4.39425051334702' '10.8213552361396'
 '18.3285420944559' '154' '83' '110.956878850103' '226' '96.0328542094456'
 '4.82135523613963' '30.3285420944559' '37.9712525667351'
 '50.4640657084189' '286' '99' '99.4928131416838' '2.6611909650924'
 '70.9712525667351' '13.9712525667351' '23.6570841889117'
 '.459958932238193' '132.492813141684' '283' '49.3141683778234'
 '27.9856262833676' '38' '7.6570841889117' '83.6550308008214'
 '10.9199178644764' '162.328542094456' '37' '132.328542094456'
 '35.952772073922' '165' '10.9856262833676' '20.1642710472279'
 '2.59137577002053' '175' '180.985626283368' '10.3285420944559'
 '36.1642710472279' '120.657084188912' '232' '152' '8.98562628336756'
 '167' '11.0657084188912' '11.2032854209446' '5.19712525667351'
 '3.16427104722793' '60.1642710472279' '1.18275154004107'
 '21.1642710472279' '2.19712525667351' '4.19712525667351'
 '2.62833675564682' '119.952772073922' '119.958932238193'
 '9.49281314168378' '5.25667351129363' '15.3285420944559'
 '2.82135523613963' '192.985626283368' '48.6570841889117'
 '5.95687885010267' '2.29979466119097' '960' '2.36550308008214' '116'
 '19.5133470225873' '1.6570841889117']

[9 0 1 4 2]

Total Missings:
 9053

SentenceTypeAllChargesAtConvictionInContactEvent     0   1  2     4
ImposedSentenceAllChargeInContactEvent
0.000000                                          4953   0  0  8779
0.032854                                             0   6  0     0
0.065708                                             3  21  0     0
0.098563                                             2   6  0     0
0.131417                                             4  10  0     0
...                                                ...  .. ..   ...
1200.000000                                          0   0  1     0
1500.000000                                          0   0  1     0
1752.000000                                          0   0  1     0
1980.000000                                          0   0  1     0
2208.000000                                          0   0  1     0

[483 rows x 4 columns]

In [28]:
print('Total Missings: \n', np.sum(pdf[var].isnull()),'\n')

Total Missings:
 274

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?